
html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.mode-button {
  float: left;
  font-weight: bold;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 21px;
}

 .switch {
  float: left;
  position: relative;
  margin-top: 5px;
  width: 60px;
  height: 34px;
}

#checkBox1 {
  opacity: 0;
  width: 0;
  height: 0;
}

#checkBox2{
  opacity: 0;
  width: 0;
  height: 0;
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: -4px;
  left: -4px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #476075;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.page-header {
  width: 100%;
  background-color: #0661b9;
  color: white;
  position: relative;
  height: 100px;
  display: flex;
  justify-content:center;
}

.container {
  width: 1140px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.container-text {
  width: 1140px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.side-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 13px;
  font-weight: 700;
}

.list {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.list-elem {
  margin: 8px 0;
}

a, a:visited {
  text-decoration: none;
  color: rgb(80, 80, 80);
  outline: none;
}




/*Base Mobile Layout*/
.wrap {
  width: 90%;
  margin: 0 auto;
}

.main-content, .sidebar-left {
  width: 100%;
  float: left;
}

/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
  .wrap {
    width: 1024px;
    margin: 0 auto;
  }
  
  .main-content {
    width: 75%;
    float: left;
  }
  
  .sidebar-left {
    width: 25%;
    float: left;
  }
}

/*Move Sidebar Position*/
@media only screen and (min-width: 1024px) {
  .wrap, .main-content, .sidebar-left {
    position: relative;
  }
  
  .main-content, .sidebar-left {
    top: 0;
  }
  
  .sidebar-left {
    left: -75%; /*Width of #main-content*/
  }
  
  .main-content {
    left: 25%; /*Width of #left-sidebar*/
  }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
  .wrap {
    width: 1140px;
    margin: 0 auto;
  }
}

/*Optional 2 Column Layout*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar-left {
    width: 50%;
  }
  .main-content {
    position: relative;
    top: 0;
    left: 0;
  }
}



@media only screen and (max-width: 900px) {
  body {
    font-size: 80% !important;
  }
  .boldH1 {
    font-size: 35px !important;
  }
  .card-text-middle-lec {
    height: 75px !important;
    font-size: 12px !important;
  }
  .cardH1 {
    font-size: 29px !important;
  }

  .card {
    max-width: 360px !important;
    height: 540px !important;
  }
  
}

.test {
  width: 100% !important;
  object-fit: cover !important;
  max-height: 100% !important;
  max-width: none !important;
}

.banner-test {
  height: 700px !important;
  max-height: 700px !important;
  margin: 0 !important;
  padding: 0 !important;
}