

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/



.CSSgal {
	position: relative;
	overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
	height: 900px; /* Or set a fixed height */
}

/* slider-show */

.CSSgal .slider-show {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider-show > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: black;
	border: solid white;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       60px;
	height:      60px;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a {
	background: rgba(255, 255, 255, 0.5); /* Dim all */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s11:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s22:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s33:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s44:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s11:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s22:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s33:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s44:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* slider-show ANIMATION POSITIONS */

#s11:target ~ .slider-show {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s22:target ~ .slider-show {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s33:target ~ .slider-show {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s44:target ~ .slider-show {transform: translateX(-300%); -webkit-transform: translateX(-300%);}




#s11:target ~ .slideImg1Title {display: block;}
#s22:target ~ .slideImg2Title {display: block;}
#s33:target ~ .slideImg3Title {display: block;}
#s44:target ~ .slideImg4Title {display: block;}

/* More slides? Add here more rules */

/* .slideImg1Title .slideImg2Title .slideImg3Title .slideImg4Title {
	visibility: hidden;
} */

.slideImgTitle {
	display: none;
	position: absolute;
	left: 100px;
	right: 100px;
	top: 415px;
	color: white;
	font-size: 50px;
	z-index: 100;

	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.418);
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
} 

.slideImgTitleSmall {
	display: block;
	position: absolute;
	color: white;
	font-size: 40px;
	z-index: 100;

	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.418);
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.slideImg1Title {display: block;}



#s22:target ~ .slideImg1Title, #s33:target ~ .slideImg1Title, #s44:target ~ .slideImg1Title {display: none !important;}

/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

#s11, #s22, #s33, #s44{
	position: fixed;
	top: 0;
	left: 0;
}


.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider-show h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
	position: relative;
}
.CSSgal .link {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.CSSgal .slider-show img
{
    object-fit: contain;
}

@media only screen and (max-width: 1024px) {
    .CSSgal
    {
        display: none;
    }
}