
.home-banner{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.home-anchor1, .home-anchor2, .home-anchor3{
    position: absolute;
    left: 0;
    right: 0;
    /* width: 5%;
    margin-top: 650px; */
    height: 100px;
    z-index: 1;
    align-items: center;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(8px, 5vw, 16px);
    justify-content: center;
    transition: transform var(--motion-duration) var(--motion-ease);
}
/*
.home-anchor1 a , .home-anchor2 a, .home-anchor3 a {
    font-size: large;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
*/
.home-anchor1{
    /* left: 14%; */
}

.home-anchor2{
    /* left: 48%; */
}

.home-anchor3{
    /* right: 14%; */
}

.even-column img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border: 3px solid;
}
/*
.home-column1, .home-column2, .home-column3 {
    width: 30%;
    height: 100%;
    border: 3px solid;
    transition: 0.15s;
}

.home-column1 img, .home-column2 img, .home-column3 img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}
*/
.even-column {
    transition-duration: 0.5s;
    transition-timing-function: out;
}


.wrap-even {
    display: block;
    position: relative;
}


@media only screen and (min-width: 1024px) {
    .wrap-even {
        display: none;
    }
}


@media only screen and (max-width: 1024px) {
    .home-anchor1, .home-anchor2, .home-anchor3{
        /* left: 47.5%;
        right: 47.5%; */
    }
    .home-anchor2{
        top: 800px;
    }
    .home-anchor3{
        top: 1600px;
    }
    .even-column {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
    }
}