.mainPageDiv {
    color: rgb(100, 100, 100);
}

.mainPageDiv h2 {
    color: #0661b9;
}
.mainPageDiv h3 {
    color: #0661b9;
}
.mainPageDiv h4 {
    color: dimgray;
}
.mainPageDiv p {
    color: darkcyan;
}

.mainPageDiv a {
    color:rgb(114, 102, 190);
    text-decoration: underline;
}

.list-elem a:visited, .list-elem a {
    color: rgb(50,50,50);
    text-decoration: none;
    outline: none;
}