.offer {
    height: 700px;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}

.offer-img {

}


.offer-img img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.offer-text{
 /*   width: 30%; */
    box-sizing: border-box;  
    padding-left: 25px;
}


.offer-right .offer-text{/*
    margin-left: 5%;*/
}

.offer-right .offer-img {
    mask-image: radial-gradient(circle at 100%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}

.offer-left .offer-text{/*
    margin-right: 50px;*/
}

.offer-left .offer-img {
    mask-image: radial-gradient(circle at 0%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}
.offer-h1 {
    text-align: center;
    font-size: 50px;
}

@media only screen and (max-width: 1024px) {
    .offer-img {
        mask-image: none !important;
    }
}


.offer h2 {
    color: #0661b9;
}
.offer h3 {
    color: #0661b9;
}
.offer h4 {
    color: dimgray;
}
.offer p {
    color: darkcyan;
}

.offer a {
    color:darkslateblue;
    text-decoration: underline;
}
