.offer {
    height: 600px;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}

.offer-img {
    width: 60%;
    height: 600px;
}


.offer-img img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.offer-text{
    width: 30%;
}

.offer-right .offer-text{
    padding-left: 5%;
    float: left;
}

.offer-right .offer-img {
    float: right ;
    mask-image: radial-gradient(circle at 100%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}

.offer-left .offer-text{
    padding-right: 50px;
    float: right;
}

.offer-left .offer-img {
    float: left ;
    mask-image: radial-gradient(circle at 0%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}
.offer-h1 {
    text-align: center;
    font-size: 50px;
}


.offer h2 {
    color: #0661b9;
}
.offer h3 {
    color: #0661b9;
}
.offer h4 {
    color: dimgray;
}
.offer p {
    color: darkcyan;
}

.offer a {
    color:darkslateblue;
    text-decoration: underline;
}
