.offer {
    height: 900px;
    margin-top: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: auto;
    width: 100%;
    position: relative;
}

.offer-divider {
    margin: 0;
    height: 50px;
    position: relative;
    /* border-top: 1px solid black; */
}



.offer-img img {
    object-fit: cover;
    max-width: 100%;
    max-height: 800px;
    width: 100%;
    height: auto;
}

.offer-text{
 /*   width: 30%; */
    box-sizing: border-box;  
    padding-left: 25px;
}

.offer::before {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 100px;
    right: 0;
    background: url('/static/img/dirtBlank2.png');
    background-size: 200px;
    /* background-color: rgb(255, 255, 255); */
    content: "";
    z-index: -2;
}

.offer-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: url('/static/img/dirtTransTop2.png');
    background-size: 200px;
    /* background-color: rgb(255, 255, 255); */
    content: "";
    z-index: -1;
}

.offer-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    background: url('/static/img/dirtTransBottom2.png');
    background-size: 200px;
    /* background-color: rgb(255, 255, 255); */
    content: "";
    z-index: -1;
}


.offer-right .offer-text{/*
    margin-left: 5%;*/
}

.offer-right .offer-img {
    mask-image: radial-gradient(circle at 100%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}

.offer-left .offer-text{/*
    margin-right: 50px;*/
}

.offer-left .offer-img {
    mask-image: radial-gradient(circle at 0%, rgb(0, 0, 0, 1), rgb(0, 0, 0, 1),rgb(0, 0, 0, 1),rgb(0, 0, 0, 0));
}
.offer-h1 {
    text-align: center;
    font-size: 50px;
}

@media only screen and (max-width: 1024px) {
    .offer-img {
        mask-image: none !important;
    }
}



.offer h2 {
    color: #0661b9;
}
.offer h3 {
    color: #0661b9;
}
.offer h4 {
    color: dimgray;
}
.offer p {
    color: darkcyan;
}

.offer a {
    color:darkslateblue;
    font-weight: bold;
    text-decoration: underline;
}
