
.home-banner{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.home-anchor1, .home-anchor2, .home-anchor3{
    position: absolute;
    width: 40px;
    margin-top: 200px;
    height: 40px;
    display: block;
}

.home-anchor1{
    left: 5%;
}

.home-anchor2{
    left: 35%;
    z-index: 1000;

}

.home-anchor3{
    right: 5%;
}



.home-column1, .home-column2, .home-column3 {
    width: 30%;
    height: 100%;
    border: 3px solid;
    transition: 0.15s;
}

.home-column1 img, .home-column2 img, .home-column3 img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.home-anchor2:hover ~ .even-column-middle {
    scale: 1.2;
}

.home-anchor2:hover ~ .even-column-left, .home-anchor2:hover ~ .even-column-right,
.home-anchor1:hover ~ .even-column-middle, .home-anchor1:hover ~ .even-column-right,
.home-anchor3:hover ~ .even-column-left, .home-anchor3:hover ~ .even-column-middle {
    visibility: collapse;
}
