
body {
  scrollbar-color: rgb(69, 74, 77) rgb(32, 35, 36);
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(115, 107, 94);
  border-left-color: rgb(115, 107, 94);
  border-right-color: rgb(115, 107, 94);
  border-top-color: rgb(115, 107, 94);
  color: rgb(232, 230, 227)
}


hr.solid-theme {
  border-top: 3px solid rgb(38, 40, 40);
}


.topnav-theme {
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227)
}

.a-nav {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(190, 184, 176);
  border-left-color: rgb(190, 184, 176);
  border-right-color: rgb(190, 184, 176);
  border-top-color: rgb(190, 184, 176);
  color: rgb(190, 184, 176);
  outline-color: rgb(190, 184, 176);
  scrollbar-color: rgb(69, 74, 77) rgb(32, 35, 36);
  text-decoration-color: rgb(190, 184, 176)
}

.topnav-theme span {
  color: rgb(166, 125, 0);
}


.a-nav.active {
  background-color: rgb(98, 111, 124);
  color: black;
}

.header-theme {
    background-color: rgb(62, 62, 62);    
}

.content-theme{
  color: rgb(195, 215, 225);
  background-color: rgb(85, 80, 80);
}


.title-theme {
    color: rgb(189, 213, 224);
}

.subtitle-theme {
  color: rgb(188, 215, 229);
}

.footer-theme {
    background-color:rgb(80, 80, 80);
}


.mode-button-theme {
  color: rgb(51, 65, 72);
}

.sidenav-theme {
  background-color: black;
}

input:checked + .slider {
  background-color: rgb(166, 125, 0) !important;
}

.span-nav-theme {
  color: rgb(166, 125, 0);
  background-color: black;
  width: 122px;
  margin: 0;
}

.a-nav-theme:hover {
  background-color: rgb(42, 45, 47);
  color: rgb(232, 230, 227);
}

.a-nav-theme.active {
  background-color: rgb(98, 111, 124);
  color: white;
}



.page-header {
  background-color: rgb(96, 82, 6) !important;
  color: rgb(232, 230, 227) !important;
}

.offer h2 {
  color: rgb(202, 179, 75);
}
.offer p {
  color: rgb(177, 156, 65);
}
.offer h3 {
  color: rgb(167, 145, 51);
}

.offer a {
  color: white;
}

.offer a:hover {

  color: rgb(108, 204, 236) !important;
}


.offer a:visited {
  text-decoration: none;
}

.container {
  color: rgb(232, 230, 227);
  scrollbar-color: rgb(69, 74, 77) rgb(32, 35, 36)
}

.card-theme {
  background: rgb(62, 50, 2);
  background-color: rgb(62, 50, 2);
  color: rgb(199, 199, 199);
}

.footer {
  background-image: radial-gradient(at 25% 100%, rgb(52, 30, 0) 30%, rgb(72, 50, 2) 80%) !important;
}

.footer-note {
  background-image: radial-gradient(at 25% 100%, rgb(52, 30, 0) 30%, rgb(72, 50, 2) 80%) !important;
}

.blueDiv {
  background-color: rgb(62, 50, 2) !important;
}

.offer-divider {
  border-color: white !important;
}


.mainPageDiv {
  color: rgb(100, 100, 100);
}

.mainPageDiv h2 {
  color: rgb(166, 125, 0);
}
.mainPageDiv h3 {
  color: rgb(166, 125, 0);
}
.mainPageDiv h4 {
  color: rgb(216, 215, 194);
}
.mainPageDiv p {
  color: rgb(202, 152, 0);
}

.mainPageDiv a {
  color:rgb(175, 175, 159);
  text-decoration: underline;
}

.list-elem a:visited, .list-elem a {
  color: rgb(138, 135, 135);
  text-decoration: none;
  outline: none;
}